[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/g-martin772/glfw/
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-martin772/glm/
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/g-martin772/glad/
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/g-martin772/imgui/
	branch = docking
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/g-martin772/spdlog/
[submodule "dependencies/yaml-cpp"]
	path = dependencies/yaml-cpp
	url = https://github.com/g-martin772/yaml-cpp/
[submodule "dependencies/nativefiledialog-extended"]
	path = dependencies/nativefiledialog-extended
	url = https://github.com/g-martin772/nativefiledialog-extended/
[submodule "dependencies/stb-image"]
	path = dependencies/stb-image
	url = https://github.com/nothings/stb/
[submodule "dependencies/imguizmo"]
	path = dependencies/imguizmo
	url = https://github.com/g-martin772/imguizmo
[submodule "dependencies/nodes"]
	path = dependencies/nodes
	url = https://github.com/g-martin772/imgui-node-editor
[submodule "dependencies/tinygltf"]
	path = dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf/
